
.indicator {
	font-weight: lighter;
    color: #333;
    font-family: "sans";
    font-weight: normal;
    margin: 100px 0px 6px 40px;
    display: inline;
    letter-spacing: 7.5px; 
}

.slider-body {
	border-radius: 7px;
	height: 10px;
	background-color: #ddd;
	margin: 0px 0px 0px 40px;
 	padding: 0;
}

.handler {
	border-radius: 100%;
	background-color: #333;
	width: 20px;
	height: 20px;
	margin: -5px 0px 0px 7.5px;
}

h1 {
	font-size: 56px;
    font-family: "sans";
    font-weight: lighter;
    float:left;
    color: #333;
    margin: 70px 0px 0px 40px;
    padding: 0;
}


.solve {
	border-radius: 7px;
	height: 100px;
	background-color: #0bb;
    color: #fff;
    font-size: 64px;
    font-family: "sans";
    font-weight: lighter;
    text-align: center;
    line-height: 100px;
    margin: 70px 0px 0px 60px;
    transition: 0.25s;
    padding: 0;
}

.solve:hover {
	cursor: pointer;
	background-color: #088;
	transition: 0.25s;
}


.board {
	padding: 0;
	border-radius: 10px;
	background-color: #ddd;
	margin-left: auto;
	margin-top: 150px;
	width: 354px;
	height: 354px;
	float: left;
    font-size: 47px;
    font-family: "sans-serif";
    font-weight: lighter;
    text-align: center;
    line-height: 100px;
    color: #fff;
}

.block {
	cursor : pointer;
	margin: 13px 0 0 13px;
	float:left;
	display: inline;
	border-radius: 10px;
	background-color: #0bb;
	width: 100px;
	height: 100px;
}

.empty{
	margin: 13px 0 0 13px;
	float:left;
	display: inline;
	border-radius: 10px;
	background-color: #FFB030;
	width: 100px;
	height: 100px;
}