
.indicator {
	font-weight: lighter;
    color: #333;
    font-family: "sans";
    font-weight: normal;
    margin: 130px 0px 6px 56px;
    display: inline;
    letter-spacing: 7.5px; 
    width: 150px;
    display: block;
}

.slider-body {
	border-radius: 7px;
	height: 10px;
	background-color: #ddd;
	margin: 10px 0px 0px 40px;
 	padding: 0;
 	width: 320px;
 	display: block;
}

.handler {
	border-radius: 100%;
	background-color: #333;
	width: 20px;
	height: 20px;
	margin: -5px 0px 0px 10px;
	display: block;
}

h1 {
	font-size: 56px;
    font-family: "sans";
    font-weight: lighter;
    float:left;
    color: #333;
    margin: 70px 0px 0px 40px;
    padding: 0;
}

#container{
	margin:0 0 0 0;
}


.solve {
	border-radius: 7px;
	height: 100px;
	background-color: #0bb;
    color: #fff;
    font-size: 64px;
    font-family: "sans";
    font-weight: lighter;
    text-align: center;
    line-height: 100px;
    margin: 70px 0px 0px 60px;
    transition: 0.25s;
    padding: 0;
}

.solve:hover {
	cursor: pointer;
	background-color: #088;
	transition: 0.25s;
}


.board {
	padding: 0;
	border-radius: 10px;
	background-color: #ddd;
	margin-left: auto;
	margin-top: 100px;
	width: 600px;
	height: 600px;
	float: left;
    font-size: 47px;
    font-family: "sans-serif";
    font-weight: lighter;
    text-align: center;
    color: #fff;
    position: relative;
    top:0;
    left: 0;
}

.block {
	cursor : pointer;
	margin: 20px 0 0 20px;
	float:left;
	display: inline;
	border-radius: 10px;
	background-color: #0bb;
	width: 270px;
	height: 270px;
	position: absolute;

	z-index: 1;
}

.empty{
	background-color: #FFB030;
	color: #FFB030;

	z-index: 0;
}